/*Car Details Css file*/

body {
  	font-family: sans-serif;
  	background-color: lavender;
  	overflow-x: hidden;
  	padding: 0px;
  	margin: 0px;
  }

  nav {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px !important;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }

  ul#nav-bar {
    padding: 5px;
  }

  ul#nav-bar li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
    padding: 8px 5px;
  }

   a#logo {
   font-size: 22px;
   color: #f4f4f4;
   font-weight: bold;
  }

  ul#nav-bar li a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }

  ul#nav-bar li a:hover {
    color: #f00;
  }

  #nav-bar-content {
    display: inline;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 5px;
  }

  #nav-bar-content li {
    margin-left: 10px;
  }

  #nav-bar-content li i {
    margin-left: 3px;
  }

  nav li#book_btn {
    background-color: rgba(255,25,0,0.6588);
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid red;
    color: #eee;
    cursor: pointer;
  }

  nav li#book_btn:hover {
    background-color: red;
  }

  ul#reserv_nav, ul#vehicle_nav {
    background-color: #111;
    padding: 10px;
    margin: 5px 20px 0px -5px;
    border: 1px solid #4449;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    display: none;
  }

  li#reservation:hover, li#vehicles:hover {
    background-color: #111;
    border: 1px solid #4449;
    border-radius: 2px;
    padding: 8px 4px 30px 4px;
  }

  li#reservation:hover ul#reserv_nav, li#vehicles:hover ul#vehicle_nav {
    display: block;
  }

  li#reservation:hover a i, li#vehicles:hover a i {
    color: #fff;
    transform: rotateX(180deg);
  }

  ul#reserv_nav li, ul#vehicle_nav li {
    list-style-type: none;
    background-color: #222;
    border: 1px solid #3339;
    border-radius: 2px;
    display: block;
    padding: 1px;
    margin: 1px auto;
  }

  ul#reserv_nav li:hover, ul#vehicle_nav li:hover {
    background-color: #f009;
    border: 1px solid #f008;
  }

  ul#reserv_nav li a, ul#vehicle_nav li a {
    display: block;
    padding: 5px;
    margin: 1px;
  }

  ul#reserv_nav li:hover a, ul#vehicle_nav li:hover a {
    color: #fff;
  }

/*================================*/
/*// Car Details //*/

.car_details {
	background-color: #0007;
}

.car_img {
	background-color: #000;
	text-align: center;
	padding: 40px 10px;
	margin-top: 76px;
}

.car_img img {
	max-width: 40vmax;
	max-height: 90vmax;
	margin: auto;
  border-radius: 3px;
}

p#book_price {
  font-size: 24px;
  font-weight: bold;
}

p#book_price small {
  font-size: 13px;
  color: #111;
  font-weight: normal;
}

.car_details_content  h3 {
  color: #025;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #5552;
}

.car_container {
  background-color: #6663;
  padding: 10px;
  border: 1px solid #6665;
  border-radius: 2px;
  margin: 1px 0px;
}


.car_container p {
  font-size: 14px;
}

.car_container p i {
  color: #023;
}

.car_details_nav {
	/*background-color: yellow;*/
	padding: 5px;
  /*border: 1px solid #4441;*/
  /*border-radius: 2px;*/
}

.car_details_nav p {
	display: inline-block;
  font-size: 15px;
	padding: 2px 10px 2px 2px;
  margin: auto 1px;
  background-color: #9991;
  border: 1px solid #9992;
  color: #023;
}

.car_details_nav img {
	width: 17px;
  margin-right: 5px;
}

.car_details_include {
  background-color: #6663;
  padding: 10px;
  border: 1px solid #6662;
  border-radius: 2px;
  float: left;
  width: 100%;
  margin: auto;
}

.car_details_include h4 {
  font-size: 17px;
  color: #222;
}

.car_details_include ul {
  /*background-color: yellow;*/
  float: left;
  width: 100%;
  padding: 5px;
  /*border: 1px solid #9992;*/
  /*border-radius: 2px;*/
}

.car_include {
  background-color: #9992;
  padding: 5px;
  float: left;
  width: 100%;
}

.car_include li {
  font-size: 15px;
  color: #222;
  padding: 5px;
  list-style-type: none;
  /*background-color: #5552;*/
  margin: 2px 40px 2px 0px;
  float: left;
  width: 30%;
}

.car_include i {
  font-size: 11px;
  color: #333;
  padding: 2px 8px 2px 2px;
}

/*=======================*/
/*// Rent a Car form //*/

.rent_form_wrapper {
  background-color: #4444;
  border: 1px solid #4441;
  margin-top: 10px;
  border-radius: 2px;
  padding: 25px 200px 25px 200px;
}

.rent_header h4 {
  color: #111;
  font-size: 25px;
  margin: 5px auto;
}

.rent_header p {
  color: #333;
  font-size: 15px;
}

.rent_form_wrapper form {
  background-color: #ccc;
  border: 1px solid #4446;
  border-radius: 2px;
}

/*===============================*/
/*Pick-up Location*/

.rent_form_wrapper form .pickup_location_wrapper h5 {
  font-size: 17px;
  color: #333;
  margin: 5px auto;
}

.rent_form_wrapper form .pickup_location_wrapper {
  background-color: #f2f2f2;
  padding: 40px 0px 25px 150px;
  border-bottom: 1px solid #4441;
}

.rent_form_wrapper form .pickup_location {
  padding: 5px 0px;
}

.rent_form_wrapper form .pickup_location span {
  display: block;
  font-size: 17px;
  padding: 10px 0px;
  color: #023;
}

.rent_form_wrapper form .pickup_location i {
  font-size: 15px;
  color: #ccc;
  background: #023;
  padding: 10px 12px;
  position: absolute;
}


.rent_form_wrapper form input[type=text] {
  width: 72%;
  border: 1px solid #5559;
  border-radius: 2px;
  padding: 8px 50px;
  color: #222;
  font-size: 15px;
}

.rent_form_wrapper form .checkbox {
  padding: 5px 0px;
}

.rent_form_wrapper form .checkbox span {
  color: #023;
  font-size: 15px;
}

/*==========================*/
/*Pick-up Date and time*/

#pickup_time {
  background: #009;
  padding: 10px;
  display: none;
}
.rent_form_wrapper form .pickup_date_time_wrapper {
  background-color: #f2f2f2;
  float: left;
  width: 100%;
  padding: 20px 0px 25px 150px;
  border-bottom: 1px solid #4441;
}

.rent_form_wrapper form .pickup_date_time_wrapper h5 {
  font-size: 17px;
  color: #333;
  margin: auto;
}

.rent_form_wrapper form .pickup_date {
  /*background-color: yellow;*/
  padding: 10px 0px;
  float: left;
}

.rent_form_wrapper form .pickup_date span {
  display: block;
  font-size: 17px;
  color: #023;
  padding: 10px 0px;
}

.rent_form_wrapper form .pickup_date input[type=date] {
 padding: 8px 0px 8px 50px;
 font-size: 16px;
 color: #333;
 border: 1px solid #7777;
 border-radius: 2px;
}

.rent_form_wrapper form .pickup_date i {
  font-size: 15px;
  color: #eee;
  background-color: #023;
  padding: 10px 12px;
  position: absolute;
}

.rent_form_wrapper form .pickup_time {
  /*background-color: yellow;*/
  padding: 15px;
  float: left;
  margin-left: 50px;
}

.rent_form_wrapper form .pickup_time span {
  display: block;
  padding: 9px 0px;
  margin: auto;
}

.rent_form_wrapper form .pickup_time a {
  background-color: #fff;
  color: #444;
  border: 1px solid #7777;
  border-radius: 2px;
  font-size: 15px;
  padding: 8px 60px 8px 30px;
  cursor: pointer;
}

.rent_form_wrapper form .pickup_time i#clock {
  color: #eee;
  background-color: #023;
  padding: 9px 10px;
}

.rent_form_wrapper form .pickup_time i#angle_down {
  color: #444;
  padding: 2px;
  position: absolute;
  margin-left: -25px;
  margin-top: 9px;
}

/*==========================*/
/*Return Date and time*/

#return_time {
  display: none;
}

.rent_form_wrapper form .return_date_time_wrapper {
  background-color: #f2f2f2;
  float: left;
  width: 100%;
  padding: 20px 0px 25px 150px;
  border-bottom: 1px solid #4441;
}

.rent_form_wrapper form .return_date {
  /*background-color: yellow;*/
  padding: 10px 0px;
  float: left;
}


.rent_form_wrapper form .return_date span {
 display: block;
  padding: 9px 0px;
  margin: auto;
}

.rent_form_wrapper form .return_date input[type=date] {
 padding: 8px 0px 8px 50px;
 font-size: 16px;
 color: #333;
 border: 1px solid #7777;
 border-radius: 2px;
}

.rent_form_wrapper form .return_date i {
  font-size: 15px;
  color: #eee;
  background-color: #023;
  padding: 10px 12px;
  position: absolute;
}

.rent_form_wrapper form .return_time {
  /*background-color: yellow;*/
  padding: 10px;
  float: left;
  margin-left: 50px;
}

.rent_form_wrapper form .return_time span {
  display: block;
  padding: 9px 0px;
  margin: auto;
}

.rent_form_wrapper form .return_time a {
  background-color: #fff;
  color: #444;
  border: 1px solid #7777;
  border-radius: 2px;
  font-size: 15px;
  padding: 8px 60px 8px 30px;
  cursor: pointer;
}

.rent_form_wrapper form .return_time i#clock {
  color: #eee;
  background-color: #023;
  padding: 9px 10px;
}

.rent_form_wrapper form .return_time i#angle_down {
  color: #444;
  padding: 2px;
  position: absolute;
  margin-left: -25px;
  margin-top: 9px;
}

/*==========================*/
/*Renter's Age*/

#age {
  display: none;
}

.age {
  background-color: #f2f2f2;
  padding: 20px 0px 25px 150px;
  float: left;
  width: 100%;
}

.age p {
  font-size: 17px;
  color: #023;
  padding: 10px 0px;
  margin: auto;
}

.age a {
  background-color: #fff;
  padding: 9px 60px;
  font-size: 15px;
  color: #444;
  cursor: pointer;
  border: 1px solid #3338;
  border-radius: 2px;
  display: inline-block;
  width: 72%;
}

.age i {
  position: absolute;
  background-color: #023;
  color: #fff;
  padding: 11px;
}

.age i#angle_down {
  position: absolute;
  margin-left: -35px;
  background-color: transparent;
  color: #444;
  padding: 10px;

}
/*==========================*/
/*Continue Booking btn*/

.rent_form_wrapper form input[type=submit] {
  background-color: #023;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #009;
  color: #bbb;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 20px;
  width: 57%;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}

.rent_form_wrapper form input[type=submit]:hover {
  opacity: 0.7;
}
/*==========================*/


.car_review_similar {
  background-color: #4441;
  border: 1px solid #4441;
  padding: 10px;
  margin-top: 20px;
}

.car_reviwew_wrapper {
  background-color: #4441;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #4441;
}

.car_reviwew_wrapper h5 {
  font-size: 17px;
  border-bottom: 1px solid #3334;
  padding: 2px 0px 5px 0px;
}

.car_details_review {
  background-color: #9991;
  border: 1px solid #9991;
  border-radius: 2px;
  margin: 5px auto;
  padding: 10px;
}

.car_details_review img {
  background-color: #1119;
  width: 40px;
  height: 40px;
  border-radius: 200px;
}

.car_details_review p {
  font-size: 12px;
}

.car_similar_wrapper {
  background-color: #9993;
  padding: 1px;
  float: left;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #9992;
}

.car_similar_wrapper h6 {
  font-size: 17px;
  border-bottom: 1px solid #3334;
  padding: 0px 0px 5px 30px;
}

.car_details_similar {
  /*background-color: yellow;*/
  float: left;
  width: 100%;
  padding-left: 30px;
}

.car_details_card {
  background-color: #2221;
  height: 200px;
  width: 180px;
  overflow: hidden;
  float: left;
  border: 1px solid #2223;
  border-radius: 3px;
  margin: 5px;
  padding: 2px;
}

.car_details_card a {
  text-decoration: none;
  color: #111;
}

.car_details_img {
  /*background-color: #6667;*/
  height: 100px;
  width: 180px;
  overflow: hidden;
  text-align: center;
}

.car_details_img img {
  max-height: 9vmax;
  max-width: 9vmax;
  margin: 10px auto;
}

p#car_name {
  font-size: 15px;
}

.car_details_card_nav {
  /*background-color: yellow;*/
  padding: 2px;
}

.car_details_card_nav p {
  display: inline-block;
  font-size: 12px;
  margin: auto;
  padding: 5px;
}

.car_details_card_nav img {
  width: 14px;
}