/*Car Checkout Css file*/

body {
    font-family: sans-serif;
    background-color: lavender;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
  }

  nav {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px !important;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }

  ul#nav-bar {
    padding: 5px;
  }

  ul#nav-bar li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
    padding: 8px 5px;
  }

   a#logo {
   font-size: 22px;
   color: #f4f4f4;
   font-weight: bold;
  }

  ul#nav-bar li a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }

  ul#nav-bar li a:hover {
    color: #f00;
  }

  #nav-bar-content {
    display: inline;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 5px;
  }

  #nav-bar-content li {
    margin-left: 10px;
  }

  #nav-bar-content li i {
    margin-left: 3px;
  }

  nav li#book_btn {
    background-color: rgba(255,25,0,0.6588);
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid red;
    color: #eee;
    cursor: pointer;
  }

  nav li#book_btn:hover {
    background-color: red;
  }

  ul#reserv_nav, ul#vehicle_nav {
    background-color: #111;
    padding: 10px;
    margin: 5px 20px 0px -5px;
    border: 1px solid #4449;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    display: none;
  }

  li#reservation:hover, li#vehicles:hover {
    background-color: #111;
    border: 1px solid #4449;
    border-radius: 2px;
    padding: 8px 4px 30px 4px;
  }

  li#reservation:hover ul#reserv_nav, li#vehicles:hover ul#vehicle_nav {
    display: block;
  }

  li#reservation:hover a i, li#vehicles:hover a i {
    color: #fff;
    transform: rotateX(180deg);
  }

  ul#reserv_nav li, ul#vehicle_nav li {
    list-style-type: none;
    background-color: #222;
    border: 1px solid #3339;
    border-radius: 2px;
    display: block;
    padding: 1px;
    margin: 1px auto;
  }

  ul#reserv_nav li:hover, ul#vehicle_nav li:hover {
    background-color: #f009;
    border: 1px solid #f008;
  }

  ul#reserv_nav li a, ul#vehicle_nav li a {
    display: block;
    padding: 5px;
    margin: 1px;
  }

  ul#reserv_nav li:hover a, ul#vehicle_nav li:hover a {
    color: #fff;
  }

/*================================*/
/*// Car Details //*/

.car_details {
  background-color: #0007;
}

.car_img {
  background-color: #000;
  text-align: center;
  padding: 40px 10px;
  margin-top: 76px;
}

.car_img img {
  max-width: 40vmax;
  max-height: 90vmax;
  margin: auto;
  border-radius: 3px;
}

/*===========================*/
/*// Car Checkout //*/

.checkout {
  background-color: #f9f9f9;
  border: 1px solid #8883;
  padding: 10px;
  margin: 10px 0px;
}

.checkout_header h1 {
  color: #111;
}

.checkout_header p {
  font-size: 15px;
  color: #111;
}

.checkout_tb1 {
  padding: 10px 0px;
  margin: 10px 0px;
  border-bottom: 1px solid #8882;
}

.checkout_tb1 table {
  padding: 10px;
}
.checkout_tb1 table th {
  color: #111;
  padding: 5px;
  text-align: left;
}

.checkout_tb1 table td {
  font-size: 15px;
  color: #111;
}

.checkout_tb2 {
  padding: 10px 0px;
}

.checkout_tb2 table {
  padding: 10px;
}

.checkout_tb2 h3 {
  color: #111;
  font-size: 20px;
  padding: 0px 20px;
}

.checkout_tb2 table th {
  font-size: 17px;
  color: #111;
  text-align: left;
  padding-left: 10px;
}

.checkout_tb2 table td {
  font-size: 15px;
  color: #111;
  padding: 10px;
  width: 50%;
}