/* Contact Us Css file*/
body {
  	font-family: sans-serif;
  	background-color: lavender;
  	overflow-x: hidden;
  	padding: 0px;
  	margin: 0px;
  }

  nav {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px !important;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }

  ul#nav-bar {
    padding: 5px;
  }

  ul#nav-bar li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
    padding: 8px 5px;
  }

   a#logo {
   font-size: 22px;
   color: #f4f4f4;
   font-weight: bold;
  }

  ul#nav-bar li a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
  }

  ul#nav-bar li a:hover {
    color: #f00;
  }

  #nav-bar-content {
    display: inline;
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 5px;
  }

  #nav-bar-content li {
    margin-left: 10px;
  }

  #nav-bar-content li i {
    margin-left: 3px;
  }

  nav li#book_btn {
    background-color: rgba(255,25,0,0.6588);
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid red;
    color: #eee;
    cursor: pointer;
  }

  nav li#book_btn:hover {
    background-color: red;
  }

  ul#reserv_nav, ul#vehicle_nav {
    background-color: #111;
    padding: 10px;
    margin: 5px 20px 0px -5px;
    border: 1px solid #4449;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    display: none;
  }

  li#reservation:hover, li#vehicles:hover {
    background-color: #111;
    border: 1px solid #4449;
    border-radius: 2px;
    padding: 8px 4px 30px 4px;
  }

  li#reservation:hover ul#reserv_nav, li#vehicles:hover ul#vehicle_nav {
    display: block;
  }

  li#reservation:hover a i, li#vehicles:hover a i {
    color: #fff;
    transform: rotateX(180deg);
  }

  ul#reserv_nav li, ul#vehicle_nav li {
    list-style-type: none;
    background-color: #222;
    border: 1px solid #3339;
    border-radius: 2px;
    display: block;
    padding: 1px;
    margin: 1px auto;
  }

  ul#reserv_nav li:hover, ul#vehicle_nav li:hover {
    background-color: #f009;
    border: 1px solid #f008;
  }

  ul#reserv_nav li a, ul#vehicle_nav li a {
    display: block;
    padding: 5px;
    margin: 1px;
  }

  ul#reserv_nav li:hover a, ul#vehicle_nav li:hover a {
    color: #fff;
  }

/*================================*/
/*// Contact //*/

#contact_header_wrapper {
	background-color: #000;
	background-image: url(../img/bmw-eyes.jpg);
	background-size: 110% 150%;
}

.contact_header {
	color: #fff;
	background-color: #0008;
	padding: 100px 0px 100px 125px;
	margin-top: 76px;
}

.contact_header p {
	font-size: 15px;
	color: #999;
}

p#contact_btn {
	background-image: linear-gradient(80deg, #ff0000, #ff5500, #ff04);
	color: #fff;
	font-size: 17px;
	padding: 10px;
	width: 200px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #0069;
	cursor: pointer;
}

/*===============================*/
/*// Story //*/

.story {
  background-color: #2261;
  padding: 10px;
  border: 1px solid #2661;
  margin: 20px auto;
}

.story span {
  font-size: 15px;
  color: #5557;
}

.story h2 {
  color: #111;
}

.story p {
  color: #333;
  font-size: 15px;
}


/*===============================*/
/*// Mission //*/

.missinon {
  background-color: #2261;
  padding: 10px;
  border: 1px solid #2661;
  margin: 20px auto;
}

.missinon i {
  color: #f52;
  background-color: #2222;
  border: 1px solid #2221;
  font-size: 17px;
  padding: 10px;
  border-radius: 100%;
}

.missinon h3 {
  color: #111;
  margin: 15px auto;
}

.missinon p {
  font-size: 14px;
  color: #333;
}

/*===============================*/
/*// Contact Form //*/

.contact_form {
  background-color: #4441;
  padding: 10px;
  border: 1px solid #4441;
  float: left;
  width: 100%;
}

.contact_form_header {
  border-bottom: 1px solid #4441;
  padding: 5px;
}

.contact_form_header h1 {
  color: #333;
  margin: 10px auto;
}

.contact_form_header p {
  font-size: 14px;
  color: #444;
}

.contact_img {
  float: left;
  width: 50%;
  /*background-color: yellow;*/
  padding: 5px;
  margin-right: 5px;
}

.contact_img img {
  width: 100%;
}

.contact_form_container {
  float: left;
  width: 45%;
  margin-left: 40px;
  padding: 5px;
}

.contact_form_container form {
  background-color: #6663;
  border: 1px solid #4441
  border-radius 5px;
  padding: 20px;
}

.contact_form_container form label {
  font-size: 14px;
  color: #222;
}

.contact_form_container form input[type=text], .contact_form_container form textarea {
  font-size: 13px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 2px;
  border: 1px solid #2226;
  width: 100%;
}

.contact_form_container form input[type=text]:focus, .contact_form_container form textarea:focus {
  border: 1px solid #f00;
}

.contact_form_container form input[type=submit] {
  background-color: blue;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  width: 100%;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 3px;
}

.contact_form_container form input[type=submit]:hover {
  opacity: 0.8;
}

/*===============================*/
/*// Map Location //*/

.map_location h1 {
  color: #222;
}

.map_location p {
  color: #555;
  font-size: 13px;
}

.map_location {
  background-color: #4441;
  border: 1px solid #4441;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.map_location img {
  width: 158vmin;
  height: 55vmin;
  border: 1px solid #4441;
}

/*===============================*/
/*// Contact-info //*/

.contact_info {
  background-color: #4441;
  border: 1px solid #4441;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.contact_info_header {
  border-bottom: 1px solid #4441;
}

.contact_info_header h2 {
  color: #222;
}

.contact_info_content h3 {
  color: #3338;
  font-weight: normal;
  font-size: 17px;
  margin-top: 20px;
}

.contact_info_content {
  padding: 10px;
}

.contact_info_content p {
  font-size: 15px;
  color: #333;
}

.contact_info_content p i {
  font-size: 14px;
  background-color: #0001;
  padding: 5px;
  margin-right: 1px;
  border-radius: 2px;
}


/*===============================*/
/*// Offer //*/

.offer {
  background-color: #4441;
  border: 1px solid #4441;
  padding: 10px;
  margin: 20px auto;
}


/*===============================*/
/*// Testimonies //*/

.testmonies {
  background-color: #4441;
  padding: 5px;
  border: 1px solid #4441;
  border-radius: 1px;
}

.testmonies_header {
  padding: 5px;
  border-bottom: 1px solid #4441;
  text-align: center;
}

.testmonies_header h6 {
  font-size: 27px;
  color: #333;
  margin: 20px auto;
}

.testmonies_header p {
  font-size: 14px;
  color: #555;
}

.client {
  padding: 40px;
}

.client_card {
  background-color: #4442;
  text-align: center;
  position: relative;
  left: 37%;
  width: 250px;
  border-radius: 2px;
  border: 1px solid #4441;
}

.client_img {
  background-color: #4443;
  padding: 10px;
}

.client_content i {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 100%;
}

.client_img img {
  width: 10vmax;
  padding: 5px;
  border-radius: 100%;
  background: linear-gradient(180deg, #ff04, #000);
}

.client_content {
  padding: 10px;
}

.client_content span {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.client_content p {
  font-size: 13px;
  color: #555;
}


/*===============================*/
/*// talk to us //*/

.talk {
	background-color: #9991;
	padding: 10px;
}

.talk_header {
	margin: 65px 0px;
    text-align: center;
}

.talk_header h6, .talk_header p {
	margin: auto;
	padding: 5px 0px;
}

.talk_header h6 {
	font-size: 35px;
	color: #444;
}

.talk_header p {
	font-size: 15px;
	color: #5558;
}

.talk_content img {
	max-height: 35vmax;
	position: relative;
	left: 35%;
}

.talk_content p {
	font-size: 30px;
	font-weight: 600;
	color: #0091ff;
	text-align: center;
	margin: 10px auto;
	padding: 10px 0px;
}